* {box-sizing: border-box;}
body {margin: 0;}
.container {max-width: 1600px; margin: 0 auto;}
.formContainer {margin-bottom: 1rem;}
#memberForm {display: flex; flex-wrap: wrap; justify-content: space-between;}
#memberForm > div { vertical-align: middle; margin: 0 .5rem;}
input, select {height: 1.5rem;}
table {display: table; width: 100%; max-width: 100%; border: 1px solid #ddd;}
table > thead > tr > th {border: 1px solid #ddd;}
table > tbody > tr > td {border: 1px solid #ddd; text-align: center;}
.btn { width: 10rem; }
.btn-sm {width: 5rem;}
.btn-xs {width: 3rem;}
.input-sm {width: 5rem;}
.input-md {width: 7.5rem;}
.input-lg {width: 10rem;}
.hiddenBtn {display: none;}
.float-right {float: right;}