* {box-sizing: border-box;}
body {margin: 0;}
.container {max-width: 1600px; margin: 0 auto;}
.formContainer {margin-bottom: 1rem;}
#memberForm {display: flex; flex-wrap: wrap; justify-content: space-between;}
#memberForm > div { margin: 0 .5rem;}
.memberTable {display: table; margin: 0 auto; width: 95%; max-width: 95%;}
table, tr, th, td {padding: .3rem; border: 1px solid #ddd; border-collapse: collapse; text-align: center;}
.btn { width: 10rem; }
.btn-sm {width: 5rem;}
.btn-xs {width: 3rem;}
.hiddenBtn {display: none;}